<% provide(:title, "Search") %>


<% if signed_in? %>
<% @admin_val =  User.select("\"Advance_Search_allow\"").where("\"id\"=1") %>
	<% @admin_val.each do|a| %>
    <% if a.Advance_Search_allow =='Yes' %>
       	<form action='<%= search_path %>' method='get' class="pull-left">
        	<div class="hero-unit">
            	<table>
                	<tr>
			            <td  valign="top">
            		        <div class="span4" >
                    	    	<h6>Keyword:</h6>
                      			<% if @keyword.nil? %>
		                      		<input type="text" name='Searching' placeholder="Search">
        	                	<% else %>
              		          		<input type="text" name='Searching' value="<%= @keyword %>">
	                        	<% end %>
      		                </div>
              		    </td>
                  		<td >
		                    <div class="span4">
        		            	<h6>From:</h6>
                      <% if @from.nil? %>
                      	<input type="text" id="fromAll" name="from" >
                      <% else %>
                      	<input type="text" id="fromAll" name="from"  value="<% @from %>">
                      <% end %>
                      <h6>To:</h6>
                      <% if @from.nil? %>
                       <input type="text" id="toAll" name="to" >
                       <% else %>
						            <input type="text" id="toAll" name="to" value="<% @to %>">
                       <% end %>
                      <script type="text/javascript">

        								$("#fromAll").datepicker({
        									buttonImageOnly: true,
        									buttonImage: 'calendar.jpg',
        									dateFormat: 'mm-dd-yy'
        								});	
        								$("#toAll").datepicker({
        									buttonImageOnly: true,
        									buttonImage: 'calendar.jpg',
        									dateFormat: 'mm-dd-yy'
        								});	
                      </script>
                          <label id="error" style="display:none;color:red" hidden="true">From date should be less than to date</label>
                    		</div>
                  		</td>
                  		<td valign="top">
                    		<div class="span4">
                      			<h6>Category:</h6>
                      			<select name="Category" style="height:38px">
                        			<option value="All">All</option>
                        			<% if @Cat == "Consumer Products" %>
                        				<option value="Consumer Products" selected>Consumer Products			</option>
                        			<% else %>
                        				<option value="Consumer Products">Consumer Products</option>
                        			<%end%>

                        			<% if @Cat == "Foods, Medicines, Cosmetics" %>
                        				<option value="Foods, Medicines, Cosmetics" selected>Foods, Medicines, Cosmetics</option>
                        			<% else %>
                        				<option value="Foods, Medicines, Cosmetics">Foods, Medicines, Cosmetics</option>
                        			<% end %>

                        			<% if @Cat == "Meat and Poultry Products" %>
                        				<option value="Meat and Poultry Products" selected>Meat and Poultry Products</option>
                        			<%else%>
                        				<option value="Meat and Poultry Products">Meat and Poultry Products</option>
                        			<% end %>		

                        			<% if @Cat == "Boats and Boating Safety" %>
                        				<option value="Boats and Boating Safety" selected>Boats and Boating Safety</option>
                        			<% else %>
                        				<option value="Boats and Boating Safety">Boats and Boating Safety</option>
                        			<% end %>
                        			<% if @Cat == "Motor Vehicles" %>
                        				<option value="Motor Vehicles" selected>Motor Vehicles</option>
                        			<% else %>
                        				<option value="Motor Vehicles">Motor Vehicles</option>
                        			<% end %>
                      			</select>
                      			<input type="Submit" style="float:right" class="btn btn-large btn-primary" text="Search" value="Search">
                            <script type="text/javascript">
                              $(document).ready(function() {
                                $('#fromAll').on('change', function() {
                                  var froms=document.getElementById("fromAll").value.split("-");
                                  var tos=document.getElementById("toAll").value.split("-");

                                  var dt_from= new Date(froms[2],froms[0]-1,froms[1]);
                                  var dt_tos= new Date(tos[2],tos[0]-1,tos[1]);
                                  
                                  if(tos!="")
                                  {
                                    if(dt_tos<dt_from)
                                    {
                                      document.getElementById("error").style.display="block";
                                    }
                                    else
                                    {
                                      document.getElementById("error").style.display="none";
                                    }
                                  }
                                });
                                $('#fromAll').on('change', function() {
                                  var froms=document.getElementById("fromAll").value.split("-");
                                  var tos=document.getElementById("toAll").value.split("-");

                                  var dt_from= new Date(froms[2],froms[0]-1,froms[1]);
                                  var dt_tos= new Date(tos[2],tos[0]-1,tos[1]);
                                  
                                  if(tos!="")
                                  {
                                    if(dt_tos<dt_from)
                                    {
                                      document.getElementById("error").style.display="block";
                                    }
                                    else
                                    {
                                      document.getElementById("error").style.display="none";
                                    }
                                  }
                                });
                              })
                            </script>
                    		</div>
                  		</td>
                	</tr>
            	</table>
            </div>
        </form>
	<% else %>
		 <% if current_user.usertype == "Paid" %>
	    	<form action='<%= search_path %>' method='get' class="pull-left">
        	<div class="hero-unit">
            	<table>
                	<tr>
			            <td  valign="top">
            		        <div class="span4" >
                    	    	<h6>Keyword:</h6>
                      			<% if @keyword.nil? %>
		                      		<input type="text" name='Searching' placeholder="Search">
        	                	<% else %>
              		          		<input type="text" name='Searching' value="<%= @keyword %>">
	                        	<% end %>
      		                </div>
              		    </td>
                  		<td >
		                    <div class="span4">
        		            	<h6>From:</h6>
                		    	<% if @from.nil? %>
                      				<input type="text" id="frompaid" name="from" >
                      			<% else %>
                      				<input type="text" id="frompaid" name="from" value="<%= @from %>">
                      			<% end %>
                      			<h6>To:</h6>
                      			<% if @from.nil? %>
                       				<input type="text" id="topaid" name="to" >
                       			<% else %>
									<input type="text" id="topaid" name="to" value="<%= @to %>">
                       			<% end %>
                      			<script type="text/javascript">
                      					//$('#fromAll').click(function() 
                            	  			//{
                            	  				//alert("Sak");
        								$("#frompaid").datepicker({
        									buttonImageOnly: true,
        									buttonImage: 'calendar.jpg',
        									dateFormat: 'mm-dd-yy'
        								});	
											//});
                            	  			//$('#toAll').click(function() 
                            	  			//{
                            	  				//alert("Sak");
        								$("#topaid").datepicker({
        									buttonImageOnly: true,
        									buttonImage: 'calendar.jpg',
        									dateFormat: 'mm-dd-yy'
        								});	
											//});
                      				//$('[data-behaviour~=datepicker]').datepicker();
                      			</script>
                    		</div>
                  		</td>
                  		<td valign="top">
                    		<div class="span4">
                      			<h6>Category:</h6>
                      			<select name="Category" style="height:38px">
                        			<option value="All">All</option>
                        			<% if @Cat == "Consumer Products" %>
                        				<option value="Consumer Products" selected>Consumer Products			</option>
                        			<% else %>
                        				<option value="Consumer Products">Consumer Products</option>
                        			<%end%>

                        			<% if @Cat == "Foods, Medicines, Cosmetics" %>
                        				<option value="Foods, Medicines, Cosmetics" selected>Foods, Medicines, Cosmetics</option>
                        			<% else %>
                        				<option value="Foods, Medicines, Cosmetics">Foods, Medicines, Cosmetics</option>
                        			<% end %>

                        			<% if @Cat == "Meat and Poultry Products" %>
                        				<option value="Meat and Poultry Products" selected>Meat and Poultry Products</option>
                        			<%else%>
                        				<option value="Meat and Poultry Products">Meat and Poultry Products</option>
                        			<% end %>		

                        			<% if @Cat == "Boats and Boating Safety" %>
                        				<option value="Boats and Boating Safety" selected>Boats and Boating Safety</option>
                        			<% else %>
                        				<option value="Boats and Boating Safety">Boats and Boating Safety</option>
                        			<% end %>
                        			<% if @Cat == "Motor Vehicles" %>
                        				<option value="Motor Vehicles" selected>Motor Vehicles</option>
                        			<% else %>
                        				<option value="Motor Vehicles">Motor Vehicles</option>
                        			<% end %>
                      			</select>
                      			<input type="Submit" style="float:right" class="btn btn-large btn-primary" text="Search" value="Search">
                    		</div>
                  		</td>
                	</tr>
            	</table>
            </div>
        </form>
	<% end %>
	<% end %>
	<%end%>
<% end %>


<div>
	
</div>


		

		<div class="span9">
			<% if @recalls.present? %>
				<% @recalls.each_with_index do |r,i| %>
					
						<% if !r.Title.nil? %>
							<p >
								<b><%= r.created_at.to_time.strftime('%b %d, %Y') %></b>
								<font color="#0088cc">
									<a href="#<%= "#{i.to_s}" %>" role="button"  data-toggle="modal"><%= r.Title.to_s.html_safe %></a>
								</font>
							</p>	

							<p>
								<font color="Red">
									Summary:
								</font>
					 			<%= r.Summary.to_s.html_safe %>
							</p>
							<br/>
							<br/>
						<%end%>
					
				<% end %>
			<% else %>
				<p><b> Your search did not match any document </b></p>	
			<% end %>
		</div>
	</div>
</div>
<% if !@recalls.nil? %>
<% @recalls.each_with_index do |r,i| %>
<div id="<%= "#{i.to_s}" %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"><%= r.Title.to_s.html_safe %></h3>
		</div>
		<div class="modal-body">
			<p>
				<b>Manufacturer</b>
			</p>
			<p>
				<%= r.Manufacturer.to_s.html_safe  %>
			</p>
			<p>
				<b>Product</b>
			</p>
			<p>
				<%= r.Products.to_s.html_safe %>
			</p>
			<p>
				<b>Summary</b>
			</p>
			<p>
				<%= r.Summary.to_s.html_safe %>
			</p>
			<p>
				<b>Description</b>
			</p>
			<p>
				<%= r.Details.to_s.html_safe %>
			</p>
			<p>
				<b>Hazard</b>
			</p>
			<p>
				<%= r.Hazards.to_s.html_safe %>
			</p>
			<p>
				<b>Date Created</b>
			</p>
			<p>
				<%= r.created_at.to_time.strftime('%b %d, %Y') %>
			</p>
			<hr>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>
<%end%>
<%end%>