<% provide(:title, "Search") %>

<div class="center hero-unit">
  <h1 style="font-size:35px;">Product Recalls</h1>
  <h2>
    Search
  </h2>
</div>
<div>
	<p> <%= @keyword %> </p>
</div>

<div class="container">
	<div class="row">
		<div class="span3 bs-docs-sidebar">
			<div class="span3 bs-docs-sidebar">
				<ul class="nav nav-list bs-docs-sidenav affix-top">
					<li>
						<div id="accordion2" class="accordion pull-left"> 
							<div class="accordion-group"> 
								<div class="accordion-heading"> 
									<a class="accordion-toggle collapsed" href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" style="color:black">
										<b>Products</b>
									</a>
								</div>
								<div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
									<div class="accordion-inner">
										<% @products.each do |p,i| %>
										<% if !p.nil? %>
											<%= link_to p,search_path(:Searching => p) %>(<%= i %>)
											<br/>
											<% end %>
										<% end %>
									</div>
								</div>
 							</div>
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle collapsed" href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" style="color:black">
                						<b>Hazards</b>
                					</a>
								</div>
								<div id="collapseTwo" class="accordion-body collapse">
	 								<div class="accordion-inner">
	                					<% @hazards.each do |h,i| %>
										<% if !h.nil? %>
											<%= link_to h,search_path(:Searching => h) %>(<%= i %>)
											<br/>
											<% end %>
										<% end %>
    						        </div>
								</div>
							</div>
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle collapsed" href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" style="color:black">
                						<b>Select Date Range</b>
                					</a>
								</div>
								<div id="collapseThree" class="accordion-body collapse">
	 								<div class="accordion-inner">
	 									<%= form_for search_path, method: :get do %>
	                					From: <input type="text" name="from" data-behaviour='datepicker' data-date-format="yyyy-mm-dd">
										To: <input type="text" name="to" data-behaviour='datepicker' data-date-format="yyyy-mm-dd">
										<script type="text/javascript">
  											$('[data-behaviour~=datepicker]').datepicker();
										</script>
										<%= button_to "Submit" %>
										<%end%>
    						        </div>
								</div>
							</div>
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle collapsed" href="#collapseFour" data-present="#accordion2" data-toggle="collapse" style="color:black">
										<b>Top Trends</b>
									</a>
								</div>
								<div id="collapseFour" class="accordion-body collapse">
									<div class="accordion-inner">
										<% @trends .each do |t| %>
											<% if !t.searches.include? "from" and !t.searches.include? "to" %>
											<ul>
												<li>
													<%= link_to t.searches.split("'").last,search_path(:Searching => t.searches.split("'").last) %>
												</li>
											</ul>
											<% end %>
										<% end %>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		

		<div class="span9">

			<% @recalls.each_with_index do |r,i| %>
			<% if !r.Title.nil? %>
				<p >
					<b><%= r.created_at.to_date %></b> 
					<font color="#0088cc">
						<a href="#<%= "#{i.to_s}" %>" role="button"  data-toggle="modal"><%= r.Title %></a>
						
						
					</font>
				</p>	

				<p>
					<font color="Red">
						Summary:
					</font>
					 <%= r.Summary %>
				</p>
				<br/>
				<br/>
				<%end%>
			<% end %>

		</div>
	</div>
</div>
<% @recalls.each_with_index do |r,i| %>
<div id="<%= "#{i.to_s}" %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"><%= r.Title %></h3>
		</div>
		<div class="modal-body">
			<p>
				<b>Manufacturer</b>
			</p>
			<p>
				<%= r.Manufacturer %>
			</p>
			<p>
				<b>Product</b>
			</p>
			<p>
				<%= r.Products %>
			</p>
			<p>
				<b>Summary</b>
			</p>
			<p>
				<%= r.Summary %>
			</p>
			<p>
				<b>Description</b>
			</p>
			<p>
				<%= r.Details %>
			</p>
			<p>
				<b>Hazard</b>
			</p>
			<p>
				<%= r.Hazards %>
			</p>
			<p>
				<b>Date Created</b>
			</p>
			<p>
				<%= r.created_at.to_date %>
			</p>
			<hr>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>
<%end%>