<% provide(:title, "Product Recalls") %>
<% if signed_in? %>
	<% @admin_val =  User.select("\"Advance_Search_allow\"").where("\"id\"=1") %>
		<% @admin_val.each_with_index do|a,i| %>
		 <% if i==0 %>
		 
		    <% if a.Advance_Search_allow == 'Yes' %>
		        <form action='<%= search_path %>' method='get' class="pull-left">
	        	<div class="hero-unit">
	        		<table>
	        			<tr>
	        				<td  valign="top">
	        					<div class="span4" >
                      <h6>Keyword:</h6>
                      <% if @keyword.nil? %>
                      <input type="text" name='Searching' placeholder="Search">
                      <% else %>
                      <input type="text" name='Searching' value="<% @keyword %>">
                      <% end %>
                                </div>
                            </td>
                            <td >
                            	<div class="span4">
                      <h6>From:</h6>
                      <% if @from.nil? %>
                      	<input type="text" name="from" data-behaviour='datepicker' data-date-format="yyyy-mm-dd">
                      <% else %>
                      	<input type="text" name="from" data-behaviour='datepicker' data-date-format="yyyy-mm-dd" value="<% @from %>">
                      <% end %>
                      <h6>To:</h6>
                      <% if @from.nil? %>
                       <input type="text" name="to" data-behaviour='datepicker' data-date-format="yyyy-mm-dd">
                       <% else %>
						<input type="text" name="to" data-behaviour='datepicker' data-date-format="yyyy-mm-dd" value="<% @to %>">
                       <% end %>
                      <script type="text/javascript">
                      $('[data-behaviour~=datepicker]').datepicker();
                      </script>
                                </div>
                            </td>
                            <td valign="top">
                            	<div class="span4">
                      <h6>Category:</h6>
                      <select name="Category" style="height:38px">
                        <option value="All">All</option>
                        <% if @Cat == "Consumer Products" %>
                        	<option value="Consumer Products" selected>Consumer Products</option>
                        <% else %>
                        	<option value="Consumer Products">Consumer Products</option>
                        <%end%>

                        <% if @Cat == "Foods, Medicines, Cosmetics" %>
                        	<option value="Foods, Medicines, Cosmetics" selected>Foods, Medicines, Cosmetics</option>
                        <% else %>
                        	<option value="Foods, Medicines, Cosmetics">Foods, Medicines, Cosmetics</option>
                        <% end %>

                        <% if @Cat == "Meat and Poultry Products" %>
                        	<option value="Meat and Poultry Products" selected>Meat and Poultry Products</option>
                        <%else%>
                        	<option value="Meat and Poultry Products">Meat and Poultry Products</option>
                        <% end %>

                        <% if @Cat == "Boats and Boating Safety" %>
                        	<option value="Boats and Boating Safety" selected>Boats and Boating Safety</option>
                        <% else %>
                        	<option value="Boats and Boating Safety">Boats and Boating Safety</option>
                        <% end %>
                        
                        <% if @Cat == "Motor Vehicles" %>
                        	<option value="Motor Vehicles" selected>Motor Vehicles</option>
                        <% else %>
                        	<option value="Motor Vehicles">Motor Vehicles</option>
                        <% end %>
                      </select>
                      <input type="Submit" style="float:right" class="btn btn-large btn-primary" text="Search" value="Search">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                </form>
            <% else %>
                <% if current_user.usertype == "Paid" %>

                   	<form action='<%= search_path %>' method='get' class="pull-left">
                   		<div class="hero-unit">
            	<table>
                	<tr>
			            <td  valign="top">
            		        <div class="span4" >
                    	    	<h6>Keyword:</h6>
                      			<% if @keyword.nil? %>
		                      		<input type="text" name='Searching' placeholder="Search">
        	                	<% else %>
              		          		<input type="text" name='Searching' value="<%= @keyword %>">
	                        	<% end %>
      		                </div>
              		    </td>
                  		<td >
		                    <div class="span4">
        		            	<h6>From:</h6>
                		    	<% if @from.nil? %>
                      				<input type="text" name="from" data-behaviour='datepicker' data-date-format="yyyy-mm-dd">
                      			<% else %>
                      				<input type="text" name="from" data-behaviour='datepicker' data-date-format="yyyy-mm-dd" value="<%= @from %>">
                      			<% end %>
                      			<h6>To:</h6>
                      			<% if @from.nil? %>
                       				<input type="text" name="to" data-behaviour='datepicker' data-date-format="yyyy-mm-dd">
                       			<% else %>
									<input type="text" name="to" data-behaviour='datepicker' data-date-format="yyyy-mm-dd" value="<%= @to %>">
                       			<% end %>
                      			<script type="text/javascript">
                      				$('[data-behaviour~=datepicker]').datepicker();
                      			</script>
                    		</div>
                  		</td>
                  		<td valign="top">
                    		<div class="span4">
                      			<h6>Category:</h6>
                      			<select name="Category" style="height:38px">
                        			<option value="All">All</option>
                        			<% if @Cat == "Consumer Products" %>
                        				<option value="Consumer Products" selected>Consumer Products			</option>
                        			<% else %>
                        				<option value="Consumer Products">Consumer Products</option>
                        			<%end%>

                        			<% if @Cat == "Foods, Medicines, Cosmetics" %>
                        				<option value="Foods, Medicines, Cosmetics" selected>Foods, Medicines, Cosmetics</option>
                        			<% else %>
                        				<option value="Foods, Medicines, Cosmetics">Foods, Medicines, Cosmetics</option>
                        			<% end %>

                        			<% if @Cat == "Meat and Poultry Products" %>
                        				<option value="Meat and Poultry Products" selected>Meat and Poultry Products</option>
                        			<%else%>
                        				<option value="Meat and Poultry Products">Meat and Poultry Products</option>
                        			<% end %>		

                        			<% if @Cat == "Boats and Boating Safety" %>
                        				<option value="Boats and Boating Safety" selected>Boats and Boating Safety</option>
                        			<% else %>
                        				<option value="Boats and Boating Safety">Boats and Boating Safety</option>
                        			<% end %>
                        			<% if @Cat == "Motor Vehicles" %>
                        				<option value="Motor Vehicles" selected>Motor Vehicles</option>
                        			<% else %>
                        				<option value="Motor Vehicles">Motor Vehicles</option>
                        			<% end %>
                      			</select>
                      			<input type="Submit" style="float:right" class="btn btn-large btn-primary" text="Search" value="Search">
                    		</div>
                  		</td>
                	</tr>
            	</table>
            	   	    </div>
            	   	</form>
            	<% end %>
            <% end %>
        <%end%>
        <%end %>
    <% end %>

	<%= select_tag(:sorttype, options_for_select([['Newest to oldest',0],['Oldest to newest',1],['A to Z',2],['Z to A',3]],2), { :style => "height:37px; width:170px", :class => 'pull-right'}) %>

	<% if current_user.admin? %>
		<a href="#CreateRecall" role="button" class="btn" data-toggle="modal">Create New Recall</a>
		<br/>
		<br/>
		<div id="CreateRecall" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="	true">×</button>
				<h3 id="myModalLabel">Modal header</h3>
			</div>
			<%= form_for :recall, :url => {:action => :create}  do |f| %>
				<div class="modal-body">
					<%= f.label :Category, "Category" %>

				<div class="control-group">
					<div class="controls">	
						<%= f.select :Category,options_for_select(["Consumer Products",
						"Foods, Medicines, Cosmetics",
						"Meat and Poultry Products",
						"Motor Vehicles",
						"Child Safety Seats",
						"Tires",
						"Vehicle Emissions",
						"Environmental Products",
						"Boats and Boating Safety"]), {:style => "height:40px"} %>
					</div>
				</div>

				<%= f.label :Products, "Product" %>
				<div class="control-group">
					<div class="controls">
						<%= f.select :Products, options_for_select(["All Terrain Vehicles (ATV)",
							"Saws",
							"Gasoline",
							"Door Sills or Frames",
							"Fuels and Gas and Oils",
							"Sports and Recreation",
							"Toys",
							"Fans",
							"Lawn Mowers",
							"Grass And Leaf Catchers",
							"Home Appliances, Maintenance",
							"Babies and Kids",
							"Other Grills",
							"Swings or Swing Sets",
							"Electrical Systems",
							"Portable Generators",
							"Yard and Garden",
							"Recreational Vehicles",
							"Other Bags",
							"Gardening and Landscaping"]), { :style => "height:40px"} %>
					</div>
				</div>
				<div class="form-inline">
					<%= f.label :Manufacturer,"Manufacturer" %>
				</div>
				<%= f.text_field :Manufacturer %>

				<div class="form-inline">
					<%= f.label :Title, "Title" %>
				</div>
				<%= f.text_field :Title %>

				<div class="form-inline">
					<%= f.label :Summary, "Summary" %>
				</div>
				<%= f.text_field :Summary %>

				<div class="form-inline">
					<%= f.label :Details, "Details" %>
				</div>
				<%= f.text_field :Details %>

				<%= f.label :Hazards, "Hazard" %>
				<div class="control-group">
					<div class="controls">
						<%= f.select :Hazards, options_for_select(["Injury",
						"Fire",
						"Collision",
						"Cuts",
						"Physical",
						"Crash",
						"Heat-Related",
						"Burn",
						"Electrical",
						"Explosion",
						"Heat-Related Explosion",
						"Falling",
						"Collapse",
						"Impact",
						"Entanglement",
						"Ejection",
						"Strangulation",
						"Bruising"]), { :style => "height:40px"} %>
					</div>
				</div>
				</div>

				<br/>
				<br/>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<%= f.submit "Create Recall", class: "btn btn-large btn-primary" %>
				</div>
	   		<% end %>
		</div>
	<% end %>




	<script type='text/javascript'>
    $(document).ready(function() {
       $("select#sorttype").bind("change",function() {
        if ($(this).val() == 0) 
        {
        	window.location="/recalls";
      	}
      	else if($(this).val() == 1)
        {
        	window.location="/recalls1";
     	}
      	else if($(this).val() == 2)
        {
        	window.location="/recalls2";
       	}
      	else if($(this).val() == 3)
      	{
    		window.location="/recalls3";
      	}
       });
   });
	</script>


	<p><% @id %></p>
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
			<% @categories.each_with_index do |c,i| %>
				<% if i == 0 %>
					<li class="active">
						<a data-toggle="tab" href="#<%= i %>">
							All
						</a>
					</li>
					<li>
						<a data-toggle="tab" href="#<%= i+1 %>">
							<%= c.Category %>
						</a>
					</li>
				<% else %>
					<li>
						<a data-toggle="tab" href="#<%= i+1 %>">
							<%= c.Category %>
						</a>
					</li>
				<% end %>
			<% end %>
		</ul>
	
		<div class="tab-content">
			<% @categories.each_with_index do |c,i| %>
				<% if i == 0 %>
					<div id="<%= i %>" class="tab-pane active">
						<% Recall.order('"Title" ASC').each_with_index do |r,j| %>
							<p>
								<font class="linklabel"><%=r.created_at.to_time.strftime('%b %d, %Y') %>:
								</font>
									<a href="#<%= "#{i.to_s+j.to_s}" %>" role="button"  data-toggle="modal"><%= r.Title.html_safe %></a>
								<% if current_user.admin? %>
								  	| <%= link_to "Delete", :id => r.id,:action => 'destroy', method: :delete, 
                               			confirm: "You sure?"  %>
                               	<% end %>
							</p>
						<% end %>
					</div>
					<div id="<%= i+1 %>" class="tab-pane active">
						<% Recall.where("\"Category\" = ?", c.Category).order('"Title" ASC').each_with_index do |r,j| %>
							<p>
								<font class="linklabel"><%=r.created_at.to_time.strftime('%b %d, %Y') %>:
								</font>
									<a href="#<%= "#{(i+1).to_s+j.to_s}" %>" role="button"  data-toggle="modal"><%= r.Title.html_safe %></a>
								<% if current_user.admin? %>
								  	| <%= link_to "Delete", :id => r.id,:action => 'destroy', method: :delete, 
                               			confirm: "You sure?"  %>
                               	<% end %>
							</p>
						<% end %>
					</div>
				<% else %>
					<div id="<%= i+1 %>" class="tab-pane">
						<% Recall.where("\"Category\" = ?", c.Category).order('"Title" ASC').each_with_index do |r,j| %>
							<p>
								<font class="linklabel"> <%= r.created_at.to_time.strftime('%b %d, %Y') %>
								</font>
								<a href="#<%= "#{(i+1).to_s+j.to_s}" %>" role="button"  data-toggle="modal"><%= r.Title.html_safe %></a>
								<% if current_user.admin? %>
                                   	| <%= link_to "Delete", :id => r.id,:action => 'destroy', method: :delete, 
                                   	confirm: "You sure?"  %>
                                <% end %>
							</p>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>

	<% @categories.each_with_index do |c,i| %>
		<% if i==0 %>
			<% Recall.order('"Title" ASC').each_with_index do |r,j| %>
				<div id="<%= "#{i.to_s+j.to_s}" %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 id="myModalLabel"><%= r.Title.html_safe %></h4>
					</div>
					<div class="modal-body">
						<p>
							<b>Manufacturer</b>
						</p>
						<p>
							<%= r.Manufacturer.to_s.html_safe %>
						</p>
						<p>
							<b>Product</b>
						</p>
						<p>
							<%= r.Products.to_s.html_safe %>
						</p>
						<p>
							<b>Summary</b>
						</p>
						<p>
							<%= r.Summary.to_s.html_safe %>
						</p>
						<p>
							<b>Description</b>
						</p>
						<p>
							<%= r.Details.to_s.html_safe %>
						</p>
						<p>
							<b>Hazard</b>
						</p>	
						<p>
							<%= r.Hazards.to_s.html_safe %>
						</p>
						<p>
							<b>Date Created</b>
						</p>
						<p>
							<%= r.created_at.to_time.strftime('%b %d, %Y') %>
						</p>
						<hr>
					</div>	
					<div class="modal-footer">
						<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
					</div>
				</div>
			<% end %>
			<% Recall.where("\"Category\" = ?", c.Category).order('"Title" ASC').each_with_index do |r,j| %>
				<div id="<%= "#{(i+1).to_s+j.to_s}" %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 id="myModalLabel"><%= r.Title.html_safe %></h4>
					</div>
					<div class="modal-body">
						<p>
							<b>Manufacturer</b>
						</p>
						<p>
							<%= r.Manufacturer.to_s.html_safe %>
						</p>
						<p>
							<b>Product</b>
						</p>
						<p>
							<%= r.Products.to_s.html_safe %>
						</p>
						<p>
							<b>Summary</b>
						</p>
						<p>
							<%= r.Summary.to_s.html_safe %>
						</p>
						<p>
							<b>Description</b>
						</p>
						<p>
							<%= r.Details.to_s.html_safe %>
						</p>
						<p>
							<b>Hazard</b>
						</p>	
						<p>
							<%= r.Hazards.to_s.html_safe %>
						</p>
						<p>
							<b>Date Created</b>
						</p>
						<p>
							<%= r.created_at.to_time.strftime('%b %d, %Y') %>
						</p>
						<hr>
					</div>	
					<div class="modal-footer">
						<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
					</div>
				</div>
			<% end %>
		<%else %>
			<% Recall.where("\"Category\" = ?", c.Category).order('"Title" ASC').each_with_index do |r,j| %>
				<div id="<%= "#{(i+1).to_s+j.to_s}" %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 id="myModalLabel"><%= r.Title.html_safe %></h4>
					</div>
					<div class="modal-body">
						<p>
							<b>Manufacturer</b>
						</p>
						<p>
							<%= r.Manufacturer.to_s.html_safe %>
						</p>
						<p>
							<b>Product</b>
						</p>
						<p>
							<%= r.Products.to_s.html_safe %>
						</p>
						<p>
							<b>Summary</b>
						</p>
						<p>
							<%= r.Summary.to_s.html_safe %>
						</p>
						<p>
							<b>Description</b>
						</p>
						<p>
							<%= r.Details.to_s.html_safe %>
						</p>
						<p>
							<b>Hazard</b>
						</p>	
						<p>
							<%= r.Hazards.to_s.html_safe %>
						</p>
						<p>
							<b>Date Created</b>
						</p>
						<p>
							<%= r.created_at.to_time.strftime('%b %d, %Y') %>
						</p>
						<hr>
					</div>	
					<div class="modal-footer">
						<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
					</div>
				</div>
			<% end %>
		<% end %>
	<% end %>