<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      

      <%= f.label :FirstName %>
      <%= f.text_field :FirstName %>

      <%= f.label :LastName %>
      <%= f.text_field :LastName %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :cell_no, "Cell" %>
      <%= f.text_field :cell_no %>

      <%= f.label :street, "street" %>
      <%= f.text_field :street %>
      
      <%= f.label :city, "City" %>
      <%= f.text_field :city %>

      <%= f.label :state, "State" %>
      <%= f.text_field :state %>

      <%= f.label :zip, "zip" %>
      <%= f.text_field :zip %>

      <%= f.label :alert_type, "Alerts on" %>
      <table>
        <tr>
          <td>
            <%= f.radio_button :alert_type, "Email" %>
            <%= f.label_tag(:Email, "Email") %>
          </td>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td>
            <%= f.radio_button :alert_type, "Mobile" %>
            <%= f.label_tag(:Mobile, "Mobile") %>
          </td>
        </tr>
      </table>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    
  </div>
</div>