<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :cell_no, "Cell" %>
      <%= f.text_field  :cell_no %>

      <%= f.label :address, "address" %>
      <%= f.text_field :address %>

     <label for="alert_type">Alerts on</label>
      <% [ 'Email', 'Cell' ].each do |alert| %>
        <%= radio_button_tag 'alert_type', alert, @alert == alert %>
        <%= alert.humanize %>
      <% end %>
<br/>
<br/>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>