<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      

      <div class="form-inline">
        <%= f.label :name, "Name" %>&nbsp;&nbsp;<label style="color: red">*</label>
      </div>
      <%= f.text_field :name %>

      <div class="form-inline">
        <%= f.label :email, "Email" %>&nbsp;&nbsp;<label style="color: red">*</label>
      </div>
      <div class="form-inline">
        <%= f.text_field :email %>
        <label style="font-size:x-small;color:red">E.g. example@domain.com</label>
      </div>

      <div class="form-inline">
        <%= f.label :password, "Password" %>&nbsp;&nbsp;<label style="color: red">*</label>
      </div>
      <%= f.password_field :password %>

      <div class="form-inline">
        <%= f.label :password_confirmation, "Confirm Password" %>&nbsp;&nbsp;<label style="color: red">*</label>
      </div>
      <%= f.password_field :password_confirmation %>

      <div class="form-inline">
        <%= f.label :cell_no, "Cell" %>&nbsp;&nbsp;<label style="color: red">*</label>
      </div>
      <div class="form-inline">
        <%= f.text_field  :cell_no %>
        <label style="font-size:x-small;color:red">E.g. (123)4567890 or (123) 456-7890</label>
      </div>

      <div class="form-inline">
        <%= f.label :address, "Address" %>&nbsp;&nbsp;<label style="color: red">*</label>
      </div>
      <%= f.text_field :address %>

      <label for="alert_type">Alerts on</label>
      <% [ 'Email', 'Cell' ].each do |alert| %>
        <%= radio_button_tag 'alert_type', alert, @alert == alert %>
        <%= alert.humanize %>
      <% end %>
      
      <br/>
      <br/>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>