<% provide(:title, @user.name) %>
<div class="center hero-unit">
	<h1 style="font-size:35px;">
		Product Recalls
	</h1>
	<h2>
		<%= @user.name %>
	</h2>
</div>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="AR5P7XX8L5Q2S">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<hr>
	<p></p>
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
				<h4>Basics</h4>
				<p><b>Phone:</b> <%= @user.cell_no %></p>
				<p><b>Alert Type:</b> Alerts on Email & Phone</p>
				<p><b>Address:</b> <%= @user.address %></p>
			</div>
			<br/>
			<div class="sapn4">
				<h4>Preferred Interaction</h4>
				<p> <b>Email:</b> <%= @user.email %></p>
				<p> <b>Phone:</b> <%= @user.cell_no %></p>
			</div>
		</div>
	</div>
	<div class="span4">
    <% if @user.searches.any? %>
      <h3>Searches 	(<%= @user.searches.count %>)</h3>
      <ol class="Searches">
        <%= render @searches %>
      </ol>
      <%= will_paginate @searches %>
    <% end %>
  </div>
</div>
<!--<a href="#ContactInfo" class="btn"  data-toggle="modal">Edit</a>
<a href="#BasicInfo" class="btn"  data-toggle="modal">Edit</a>
<div id="BasicInfo" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
		<h3 id="myModalLabel">Keith Townsend</h3>
	</div>
	<div class="modal-body">
		<p>Name:</p><input type="text" placeholder="Keith Townsend">
		<hr>
		<p></p>
		<p>Basic Subscriber</p>
		<p>Email</p><input type="text" placeholder="k@townsend.com">
		<p>Phone</p><input type="text" placeholder="001 123 456 7890"> 
		<p>Alerts:</p>
		<select>
			<Option>on Email</option>
			<option>on Phone</option>
			<option>Both</option>
		</select>
		<p>Address:</p><input type="text" placeholder="Address">
		
		
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button>
		<a href="#" class="btn btn-primary">Save changes</a>
	</div>
</div>



<div id="ContactInfo" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
		<h3 id="myModalLabel">Alan Chomsky</h3>
	</div>
	<div class="modal-body">
	
		<h4>Types of Preferred Interaction</h4>
		<p>1. Twitter: @kTownsend</p>
		<p>2. Email: k@townsend.com</p>
		<p>3. Phone: 123 456 7890</p>
		
	</div>
	<div class="modal-footer">
		<button class="btn " data-dismiss="modal">Close</button>
		<a href="#" class="btn btn-primary">Save changes</a>
	</div>
</div>-->