
<% provide(:title, @user_name ) %>

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_xclick-subscriptions">
<input type="hidden" name="business" value="buyer@musewerx.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="Subscribe">
<input type="hidden" name="src" value="1">
<input type="hidden" name="a3" value="5.00">
<input type="hidden" name="p3" value="1">
<input type="hidden" name="t3" value="M">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted">
<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


<div class="row">
	<aside class="span4">
		<section>
			<h1>				
				<%= @user_name %>
			</h1>
		</section>
	</aside>
	<hr>
	<p></p>
	<div class="row">
		<div class="span3">
			<h4>Basic</h4>
			<p> <b>Phone:</b>
				<% if !@user.cell_no.blank? %>
					<% if @user.cell_no.include? "(" %>
						<%= @user.cell_no.to(7)+"-"+@user.cell_no.last(4) %>
					<% else %>
						<%= @user.cell_no.to(2)+"-"+@user.cell_no.from(3).to(-5)+"-"+@user.cell_no.last(4)%>
					<% end %>
				<% end %>
			</p>
			<p><b>Alert Type:</b> Alerts on Email & Phone</p>
			<p><b>Address:</b> <%= @user_address %></p>
		</div>
			
		<div class="span3">
			<h4>Preferred Interaction</h4>
			<p> <b>Email:</b> <%= 	@user.email %></p>
			<p> <b>Phone:</b> <%= @user.cell_no.to(7)+"-"+@user.cell_no.last(4) %></p>
		</div>
			
		<div class="span3">
			<h4>Remaining Alerts</h4>
			<p> <b>Alerts Sent:</b> <%= 60-@user.alerts.to_i %></p>
			<p> <b>Alert Remaining:</b> <%= @user.alerts %></p>
		</div>

		<div class="span3">
			<h4>Keywords</h4>
			<% if current_user.usertype == "Paid" %>
			<% keyword=User.select("\"paid_keyword\"").where("\"id\"=1") %>
			<p> <b>No. of keywords allowed to search:</b> <%= keyword.paid_keyword %> </p>
			<% elsif current_user.usertype == "Basic" %>
			<% keywords=User.select("\"basic_keyword\"").where("\"id\"=1") %>
			<p> <b> No. of keywords allowed to search:</b> <%= keywords.first.basic_keyword%> </p>
			<% end %>
			<p> <b>Keywords remaining:</b> <%= keywords.first.basic_keyword - @user.vendors.count %> </p>
		</div>
	</div>
<hr>
		<ul class="nav nav-pills">
    		<li class="active">
    			<a href="/users/<%= params[:id] %>">
    				Basic Details
    			</a>
   	    	</li>
    		<!--<li>
    			<a href="/suppliers">Supplier</a>
	    	</li>-->
    		<li>
    			<a href="/vendors/<%= params[:id] %>">Vendor</a>
    		</li>
    		<li >
	        	<a href="/histories/<%= params[:id] %>">History</a>
      		</li>
    	</ul>
	

	<div id="show">
		<div class="span4">
    	<% if @user.searches.any? %>
      		<h3>Searches 	(<%= @user.searches.count %>)</h3>
      		<ol class="Searches">
        		<%= render @searches %>
      		</ol>
      		<%= will_paginate @searches %>
    	<% end %>
  		</div>
	</div>
</div>

<!--<a href="#ContactInfo" class="btn"  data-toggle="modal">Edit</a>
<a href="#BasicInfo" class="btn"  data-toggle="modal">Edit</a>
<div id="BasicInfo" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
		<h3 id="myModalLabel">Keith Townsend</h3>
	</div>
	<div class="modal-body">
		<p>Name:</p><input type="text" placeholder="Keith Townsend">
		<hr>
		<p></p>
		<p>Basic Subscriber</p>
		<p>Email</p><input type="text" placeholder="k@townsend.com">
		<p>Phone</p><input type="text" placeholder="001 123 456 7890"> 
		<p>Alerts:</p>
		<select>
			<Option>on Email</option>
			<option>on Phone</option>
			<option>Both</option>
		</select>
		<p>Address:</p><input type="text" placeholder="Address">
		
		
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button>
		<a href="#" class="btn btn-primary">Save changes</a>
	</div>
</div>



<div id="ContactInfo" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
		<h3 id="myModalLabel">Alan Chomsky</h3>
	</div>
	<div class="modal-body">
	
		<h4>Types of Preferred Interaction</h4>
		<p>1. Twitter: @kTownsend</p>
		<p>2. Email: k@townsend.com</p>
		<p>3. Phone: 123 456 7890</p>
		
	</div>
	<div class="modal-footer">
		<button class="btn " data-dismiss="modal">Close</button>
		<a href="#" class="btn btn-primary">Save changes</a>
	</div>
</div>-->