<% provide(:title, @user_name) %>
<div class="row">
 <ul class="nav nav-pills">
      <li >
          <a href="/users/<%= params[:id] %>">
            Basic Details
          </a>
      </li>
      <!--<li>
        <a href="suppliers">Supplier</a>
      </li>-->
      <li>
        <a href="/vendors/<%= params[:id] %>">Vendor</a>
      </li>
      <li class="active">
        <a href="histories/<%= params[:id] %>">History</a>
      </li>
    </ul>
  <div class="span8">
    <table class="table table-striped table-bordered table-condensed" style="float:middle">
      <thead>
        <tr>
          <td><b> Date </b></td>
          <td><b> No. of Logins </b></td>
        </tr>
      </thead>
      <% @items.each do |key,val| %>
        <tr>
          <td> <%= key.to_time.strftime('%b %d, %Y') %></td>
          <td> <%= val %></td>
        </tr>
      <% end %>
    </table>
  </div>
<div id='chart'></div>
<%= render_chart(@chart, 'chart') %> 
</div>