<% provide(:title, @user_name) %>
<div class="row">
	<ul class="nav nav-pills">
    	<li >
          <a href="/users/<%= params[:id] %>">
            Basic Details
          </a>
      </li>
      <!--<li>
        <a href="/suppliers">Supplier</a>
      </li>-->
      <li class="active">
        <a href="/vendors/<%= params[:id] %>">Vendor</a>
      </li>
      <li >
        <a href="/histories/<%= params[:id] %>">History</a>
      </li>
    </ul>
    <% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/vendor_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
  <% end %>
  <div class="span8">
    <% if @user.vendors.any? %>
      <h3>Vendors (<%= @user.vendors.count %>)</h3>
      <ol class="microposts">
        <%= render @vendor %>
      </ol>
      <%= will_paginate @vendor %>
    <% end %>
  </div>
</div>
