<br/>
<hr/>
<br/>
<h1>Consumer</h1>
<% if !@RecallBasic.blank? %>
<% @RecallBasic.each do |i| %>
<p>

	<%= i %>
</p>
<br/>
<% end %>
<% end %>

<br/>
<hr/>
<br/>
<h1>Food Meds Cosmet</h1>
<% if !@RecallBasic1.blank? %>
<% @RecallBasic1.each do |i| %>
<p>
	<%= i %>
</p>
<br/>
<% end %>
<% end %>

<br/>
<hr/>
<br/>
<h1>Motor Vehicles</h1>
<% if !@RecallBasic2.blank? %>
<% @RecallBasic2.each do |i| %>
<p>
	<%= i %>
</p>
<br/>
<% end %>
<% end %>

<br/>
<hr/>
<br/>
<h1>Meat and Poultry</h1>
<% if !@RecallBasic3.blank? %>
<% @RecallBasic3.each do |i| %>
<p>
	<%= i %>
</p>
<br/>
<% end %>
<% end %>

<br/>
<hr/>
<br/>
<h1>Boats</h1>
<% if !@RecallBasic4.blank? %>
<% @RecallBasic4.each do |i| %>
<p>
	<%= i %>
</p>
<br/>
<% end %>
<% end %>