<% provide(:title, @user_name) %>
<div class="row">
	<ul class="nav nav-pills">
    	<li >
    		<%= link_to "Profile", current_user %>
    	</li>
    	<!--<li class="active">
    		<a href="suppliers">Supplier</a>
    	</li>-->
    	<li>
    		<a href="vendors">Vendor</a>
    	</li>
      <li >
        <a href="histories">History</a>
      </li>
      <% if current_user.admin? %>
        <li >
          <a href="/admin_feature">Administrator settings</a>
        </li>
      <% end %>
    </ul>
    <% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/supplier_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>
  <div class="span8">
    <% if @user.suppliers.any? %>
      <h3>Suppliers (<%= @user.suppliers.count %>)</h3>
      <ol class="microposts">
        <%= render @supplier %>
      </ol>
      <%= will_paginate @supplier %>
    <% end %>
  </div>
</div>